.drink__card {
    width: 160px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    position: relative;
    border-radius: 12px;
    background-color: rgb(216, 209, 209);
}

.drink__img {
    width: 100%;
    height: 40%;
    position: absolute;
    bottom: 0;
    left: 2px;
    border-radius: 12px;
}

.drink__img img {
    top: -500px;
    left: 0;
    width: 100%;
    height: 200px;
    object-fit: contain;
    z-index: 1;
    border-radius: 12px;
}

.ingredients__list {
    list-style: none;
    color: #e99be9;
}


.name__div {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

